{
    "listtitle": [
        "タイトル", "国", "期間"
    ],
    "listitem": [
        {% for award in awards %}
            {% if loop.index0 > 0 %},{% endif %}
            {
                "key": {{ loop.index0 }},
                "value": [
                    { "text": "<a href='../pages/award.htm?id={{ award["id"] }}'>{{ award["title"] }}</a>" },
                    { "text": "{{ award["countryName"] }}" },
                    { "text": "{{ award["startYear"] }} 〜 {{ award["endYear"] }}" }
                ]
            }
        {% endfor %}
    ]
}