{
    "id": {{ book['id'] }},
    "title": "{{ book['title'] }}",
    "kana": "{{ book['kana'] }}",
    "isbn": "{{ book['isbn'] }}",
    "imgUrl": "{{ book['imgUrl'] }}",
    "amazonUrl": "{{ book['amazonUrl'] }}",
    "kindleUrl": "{{ book['kindleUrl'] }}",
    "rakutenUrl": "{{ book['rakutenUrl'] }}",
    "overview": "{{ book['overview'] }}",
    "author": "{{ book['author'] }}",
    "winningAward": "{{ book['winningAward'] }}"
}